{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .error{color:red}
</style>

<div class="example-wrapper">
    <h1>Login Page </h1>
    {% if error %}
        <p class="error">{{ error.messageKey }}</p>
    {%  endif %}
    <form action="{{ path('login') }}" method="POST">
        <input type="text" name="_username" value="{{ lastUserName }}" placeholder="email">
        <input type="password" name="_password" placeholder="password">
        <button type="submit">login</button>
    </form>

    <a href="register">Registration</a>
</div>
{% endblock %}
