.quiz{
    width: 80%;
    margin:auto;
    background: #E4E4E4;
    padding:10px;
    border-radius:10px;
    margin-top:15px;
    box-shadow: 3px 3px 10px #b5b1b1;
    
  }
  
  .start{
       padding:10px;
      border-radius:5px;
      box-shadow:none;
      border:none;
      cursor:pointer;
      outline:none;
      background: #633FA0;
      color:white;
      font-size: 18px;
  }

  .start>a{
    text-decoration: none;
    color:white;
  }

  .start:disabled{
    background: gray;
    cursor: auto;
  }
  .start:hover:disabled{
    background: gray;
    cursor: auto;
  }
  
  .start:hover {
      background: #6131b2;  
  }
  
  .panel{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .pagination{
    display: flex;
    justify-content: center;
    margin-top:25px;
  }

  .current{
    background: #6131b2 !important;
  }

  .pagination>span{
    padding: 10px;
    background: #633FA0;
    margin-left: 5px;
    margin-right: 5px;
    color:white;
  }

  .pagination>span>a{
    color:white;
    text-decoration: none;
  }

  .page{
    background: #633FA0;
  }
