
<div class="example-wrapper">
    <h1>Password Recovery</h1>
    {{ form_start(form) }}
        {{ form_row(form.email) }}

        <button type="submit">Send email!</button>
    {{ form_end(form) }}
</div>
