{% extends 'base.html.twig' %}

{% block title %}Hello AddQuizController!{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('assets/css/quizgen.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/main.css')}}">
    {% endblock %}
{% block body %}
 <div class="quiz_generator">
     <div class="quiz_body">
    <h2 class="quiz_name" contenteditable="true">Название викторины...</h2>  
  </div> 
  
  <div class="panel">
    <input type="text" placeholder="Имя вопроса" class="que_name"><br><br>
    <input type="text" placeholder="Имя варианта ответа" class="que_name_ans"><br><br>
    <input type="text" placeholder="Номер правильного ответа" class="tr_ans_val"><br>
    <div class="questions">
      
    </div><br>
   <div class="buttons">
      <button class="add_que_type">Добавить вариант ответа</button>
      <button class="add_que_t">Добавить вопрос</button>
      <button class="add_img">Добавить превью</button>
      <button class="add_que">Создать викторину</button>
   </div>

  </div>  
  </div>
{% endblock %}
{% block javascript %}
    <script src="{{asset('assets/js/main.js')}}"></script>
    <script src="{{asset('assets/js/quizgen.js')}}"></script>
{% endblock %}
